body {
    font-family: 'Arial', sans-serif;
    background-color: #FFBE98;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* Adjust width for checkboxes and radio buttons */
input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

button {
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 50px;
    /* font-size: 15px; */
    font-weight: bolder;
    font-size: large;
    letter-spacing: 1px;
    position: relative;
    left: 235px;
    cursor: pointer;
    background-color: black;
    color: white;
}
button:hover{
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}
